.recipeLogo{
  background-image: url('./assets/logo.svg');
  width: 70px;
  height: 70px;
  margin-right: .5vw;
  animation-name: icon ;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}
.titleWrapper{
  display:flex;
}
.formWrapper{
  display: flex;
  flex-direction: column;
}.form{
  display: flex;
 justify-content: center;
}.content{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input{
  width: 25vw;
  border-radius: 5px;
  border:1px solid black;
  height: 20px;
}
.submitBtn{
  width: 100px;
  background-color: rgb(100, 155, 251);
  border-radius: 1vw;
  color: white;
}

@keyframes icon{
  to{
    transform: rotate(360deg);
  }
}
.label{
  font-size: large;
}
.results{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.container{
  height: 231px;
  width: 312px;
  
}.select{
  border-radius: 15px;;
}
.form2{
  display: grid;
  justify-content: center;
}
.randomBtn{
  background-color: rgb(100, 155, 251);
  color: white;
  border-radius: 15px;

}
